<tr>
  <td><%= link_to kitten.name, kitten %></td>
  <td>Cuteness: <%= kitten.cuteness %></td>
</tr>
<tr>
  <td><%= link_to 'Show', kitten %></td>
  <td><%= link_to 'Edit', edit_kitten_path(kitten) %></td>
  <td><%= link_to 'Destroy', kitten, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
