<% unless @matching_flights.nil? %>
<h3><%= pluralize(@matching_flights.count, "match") %>: </h3>

<%= form_for @booking, method: :get, remote: false do %>
  <table class="table">
    <tr>
      <th></th>
      <th>Flight ID</th>
      <th>Departure</th>
      <th>Duration</th>
      <th>Passengers</th>
      <th>Origin</th>
      <th>Destination</th>
    </tr>
    <tbody>
      <%= render @matching_flights %>
    </tbody>
  </table>
    <%= hidden_field_tag :passenger_count, params[:flight][:passengers] %>
    <%= submit_tag("Select", class: "btn", id:'select-btn') %>
<% end %>

<% end %>
