<h1>Flights#index</h1>
<p>Find me in app/views/flights/index.html.erb</p>

<%= form_for @flight, html: {method: :get}, remote: true do |f| %>
  <%= f.label(:origin) %>
  <%= f.select(:origin, @airports) %>

  <%= f.label(:destination) %>
  <%= f.select(:destination, @airports) %>

  <label>Passengers</lablel>
  <select name="flight[passengers]" id="flight_passengers">
    <option value = "1">1</option>
    <option value = "2">2</option>
    <option value = "3">3</option>
    <option value = "4">4</option>
  </select>

  <%= f.label(:date) %>
  <%= f.select(:start, @dates) %>

  <%= f.submit "Show Flights", class: "btn" %>

<% end %>

<div id="matching_flights">
  <%= render 'matching_flights' %>
</div>
