<h1>Confirm your Booking</h1>

<%= form_for(@booking, :html => {class: 'form-inline'}) do |f| %>
<div id="flight">
  <table class="table">
    <tr>
      <th>Date</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Flight ID</th>
    </tr>
    <tr>
      <td><%= @flight.flight_date_formatted %></td>
      <td><%= @flight.origin.code %></td>
      <td><%= @flight.destination.code %></td>
      <td><%= @flight.id %></td>
    </tr>
  </table>
</div>

<div class="form">
  <%= form_tag bookings_path do %>
  <% count = 0 %>
    <%= hidden_field_tag(:flight, params[:flight]) %>
    <%= f.hidden_field :flight, value: params[:flight] %>
    <% @passengers.each do |passenger| %>
    <%= fields_for 'passengers[]', passenger do |p| %>

      <div class="field">
        <%= p.label "Passenger #{count += 1}" %>
      </div>
      <div class="field">
        <%= p.label :name %><br />
        <%= p.text_field :name %>
      </div>
      <div class="field">
        <%= p.label :email %><br />
        <%= p.text_field :email %>
      </div>

    <% end %>
    <% end %>
    <div class="actions">
      <%= submit_tag %>
    </div>
  <% end %>
</div>
<% end %>
